.letter-card.spin {
    animation: spinX 0.6s ease-in-out;
}

@keyframes spinX {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

